---
import ContentSection from "~/components/content-section.astro";

---

<section>
    <ContentSection title="Casos de éxito" id="clients">
        <Fragment slot="lead">
            Socios de negocio que <span class="text-primary">confiaron</span> y Desarrollamos 
            <span class="text-primary">estrategias de negocio </span>
             basadas en <span class="text-primary">transformación de datos.</span>.
        </Fragment>

        <div class="flex justify-center flex-wrap gap-4">
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/logos/spotify.png" width="100" height="60" alt="spotify" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/logos/slack.png" width="100" height="60" alt="slack" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/logos/paypallogo.png" width="100" height="60" alt="paypal" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
        </div>
    </Container>
</section>